<style>
header,section,nav,footer, aside {
  display: block;}
.agrupar {
  text-align: center;
  border:50px solid transparent;
	width:1200px; 
	margin: 75px auto;
	border:50px solid transparent;
	padding: 10px;
	background: #ffffff; 
	background-size: auto;
	background-blend-mode: 100px
			}
.header {
  background: #2f2f2f;
  color:#000000}
  .header li {
    list-style:none;
    padding: 5px;
    display: inline-block;
  }
.aside {
background: #000000; color: #ffffff;}
.nav {
			background: #1E22AA;
			text-anchor: bold;
			text-decoration-color: #ffffff;
			border-top: 25px;
			padding: 5px 15px;
			font:bold 30px montserrat;
			list-style:none;
			padding: 50px;
			}
  .nav li {
    list-style:none;
    padding: 30px;
    font:bold 30px montserrat;
    display: inline-block;
  }
.banner {
  background: #2f2f2f;
  display: block;
  border: 50px solid color:#ffffff;
  align-content: center;
  padding: 50px;
  width: 100%
  }
  .banner li {
    border:50px solid color: #000000;
    list-style:none;
    padding: 5px;
    font:bold 18px montserrat;
    }
.imagenes{
  background:transparent;
  display: block;
  border: 50px solid color:#ffffff;
  align-content: center;
  padding: 50px;
  width: 100%
  }
  .imagenes li {
    border:50px solid color:transparent;
    list-style:none;
    padding: 5px;
    font:bold 18px montserrat;
    }
.footer {
  background: #2f2f2f;
  color:#ffffff;
  clear: both;
  }
  .footer li{
    list-style:none;
    padding: 10px;
    font:bold 18px montserrat;
    display: inline-block;
  }
.section {
  background: #2f2f2f;
  color: #ffffff;
  margin-bottom:50px;
  width: 100%;
  border:5px, color:#ffffff; 
  padding:50px;
  float: left;
  }
  .section p{ padding:20px;
  font:bold 18px montserrat;
    align-self: center;
  }
 .redes{
  background: #2f2f2f;
  color: #ffffff;
 }
.redes li{
   list-style:none;
    padding: 8px;
    font:bold 18px montserrat;
    display: inline-block;
}
.logo {
  max-width: 500px;
  align-content: left;
  }
.article {
background: #2f2f2f;
padding: 50px;
margin-bottom: 30px;
}
.buscar {
  max-height: 
  255px;padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background: #2f2f2f;
  color: #ffffff}
.h1 {color: #ffffff;font-family: montserrat;font-size: 30px; font-style:bold; align-content: center;}
.h2 {color: #ffffff;font-family: montserrat;font-size: 25px; font-style: medium; align-content: left; justify-content: left;}
.h3 {color: #ffffff;font-family: montserrat;font-size: 20px; font-style: italic; align-content: left; justify-content: left;}
.h4 {color: #ffffff;font-family: montserrat;font-size: 16px; font-style: thin; align-content: left;}
.p1 {font-family: montserrat;font-size: 30px; font-style: normal; text-align: justify;}
.p2 {font-family: montserrat;font-size: 20px; font-style: normal; text-align: justify;}
.p3 {font-family: montserrat;font-size: 15px; font-style: normal; text-align: justify;}
.margin {
  margin-bottom: 45px
  }
.carousel-indicators {
  max-width: 300px;
  max-height: 400px
  }
.navbar-nav  li a:hover {
  color: #1abc9c !important
  }
.aconocimiento{
  background-image: url(fondooo (2).png);
}
.aconocimiento li{ list-style:none;
    padding: 5px;
    font:bold 18px montserrat;
    display: inline-block;
    align-self: center;
  }
.ahumanidades {background-image: url(ah.png);
  }
.ahumanidades li{ list-style:none;
    padding: 5px;
    font:bold 18px montserrat;
    display: inline-block;
    align-self: center;
  }
 .ahumanidades p{ padding:20px;
  font:bold 18px montserrat;
    align-self: center;
  } 
.asalud{background-image: url(acs.png);
  }
.asalud li{list-style:none;
    padding: 5px;
    font:bold 18px montserrat;
    display: inline-block;
    align-self: center;
  }
  .asalud p{ padding:20px;
  font:bold 18px montserrat;
    align-self: center;
  }
.anaturales{background-image: url(acn.png);
  }
.anaturales li{list-style:none;
    padding: 5px;
    font:bold 18px montserrat;
    display: inline-block;
    align-self: center;
  }
 .anaturalesnina{ 
  background: #2f2f2f;
  color: #ffffff;
  margin-bottom:50px;
  width: 100%;
  border:5px, color:#ffffff; 
  padding:50px;
  float: left;
  font:bold 18px montserrat;
    align-self: center;
  } 
.aformales{background-image: url(acf.png);
  }
.aformales li{list-style:none;
    padding: 5px;
    font:bold 18px montserrat;
    display: inline-block;
    align-self: center;
  }
  .aformales p{ padding:20px;
  font:bold 18px montserrat;
    align-self: center;
  }
.asociales{background-image: url(acss.png);
  }
.asociales li{list-style:none;
    padding: 5px;
    font:bold 18px montserrat;
    display: inline-block;
    align-self: center;
  }
  .asociales p{ padding:20px;
  font:bold 18px montserrat;
    align-self: center;
  }
.aingenierias{background-image: url(ai.png);
  }
.aingenierias li{list-style:none;
    padding: 5px;
    font:bold 18px montserrat;
    display: inline-block;
    align-self: center;
  }
.aingenierias p{ padding:20px;
  font:bold 18px montserrat;
    align-self: center;
  }
.bg-3 {
  background: #000000
}
.bg-4 {
  background: #2f2f2f
}
.formulario {
  background-image: url(fondooo.png);
  }
 .formulario p{
  font:bold 18px montserrat;
  padding-top: 15px;
  padding-bottom: 15px;
  align-self: center;
  color: #ffffff;
  margin-bottom:50px;
  width: 100%;
  border:5px,
  padding:50px;
}
</style>
